<?xml version="1"?>


<launch>

	<arg name="ACM"  default="0"/>
	<arg name="usb_port"      value="/dev/ttyACM$(arg ACM)"/>


	<node name="teleop_keys" pkg="autobotx" type="teleop_keys.py" output="screen" launch-prefix="xterm -e">
	  </node>
	<node name="link" pkg="autobotx" type="link" output="screen" launch-prefix="xterm -e">
		<param name="controller_usb" value= "$(arg usb_port)"/>
	  </node>



</launch>
